<link rel="stylesheet" href="/css/_footer.css" />
<footer class="footer">
  <div class="actions">
    <div class="footer_content">
      <div class="links-footer name">
        
      </div>

      <div class="links-footer">
       
      </div>

      <div class="links-footer">
        
      </div>
    </div>
  </div>
</footer>
